@CHARSET "UTF-8";

body,html {
	margin : 0;
	padding : 0;
	width : 100%;
	min-width:700px;
	height : 100%;
	background-color : #ffe5cc;
}

header {
	position: fixed;
	background-color : #ff9932;
	width: 100%;
	height : 80px;
}

#header {
	float : left;
    position:fixed;
	width : 100%;
	min-width:700px;
	height : 80px;
}

#header-menu{
	float : left;
	width :83%;
	line-height: 80px;
	margin-left : 0px;
}

#header-menu ul{
	float : left;
	width :100%;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
}

#header-menu li{
	float : left;
	list-style : none;
	color : white;
	font-size : 12px;
	width:12%;
	margin-left: 8px;
}

#header-title{
	float : left;
	line-height: 80px;
	font-family: 'Vidaloka',serif;
	color:#ffffff;
	font-size:30px;
	margin:0px 5px;

}

.submit_btn{
	padding : 0.5em 1em;
	text-decororation : none;
	border-radius : 100px;
	width : 150px;
	height : 40px;
	margin-top : -5px;
	font-size : 15px;
	text-aligin : center;
	color:#fff;
	background : #ffaf65;

}
#header .submit_btn{
	width : 100%;
	min-width : 70px;
	font-size : 0.8vw;
	margin-left:0;
}

.submit_btn:hover{
	cursor : pointer;
	background : #ff6565;
}

.submit_btn:active{
	background : #ff3232;
}

.txt-keywords{
	height : 30px;
	width : 95%;
	padding-left : 5%;
	margin-right : 0px;
	box-shadow : 0 0 7px #3498db;
	border : 1px solid #3498db;
	border-radius : 100px;
}
#contents{
	text-align : center;
	padding-top : 70px;
	margin-top : 50px;
	margin : 0 auto;
	width : 100%;
	height : auto;
	padding-bottom : 10px;
	margin-bottom : 100px;
}

.contents-btn-set{
	margin : 3%;
	display : inline-block;
	float : left;
}

h1{
	width : 90%;
	color : #FF8856;
	margin :0 auto;
	margin-top: 20px;
	margin-bottom: 1%;
	padding : 0.5em 0;
	border-top : solid 3px #ff9932;
	border-bottom : solid 3px #ff9932;
}

#footer{
	position : fixed;
	text-align : center;
	bottom : 0;
	clear : both;
	left : 0;
	z-index : 10;
	width : 100%;
	padding : 10px;
	color : white;
	background-color : #ff9932;
}

.cs-div {
	height : 35px;
	border : 1px solid #ccc;
	border-radius : 3px;
	width:100%;
}

.cs-div select{
	margin : 0;
	padding : 5px 8px;
	height : 25px;
	border : none;
	box-shadow : cone;
	backgorund : transparent;
	background-image : none;
	-webkit-appearance none;
	-o-appearance : none;
	appearance : none;
}

.info{
	border : 1px solid;
	margin : 0 auto;
	margin-bottom: 30px;
	padding : 15px 10px 15px 10px;
	background-repeat : no-repeat;
	background-position : 10px center;
	font-size : 0.8em;
	width : 84%;
	color : #FF570D;
	background-color : #F0E68C;
}

.error {
	font-size: 0.8em;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	border: 1px solid red;
	width: 88%;
	color: red;
	background-color: #FFBABA;
}

.submit_btn_box {
	margin-bottom:10px;
}